.rotate_clock {
    transform: rotate(180deg);
    transition: all 0.2s ease;
}

.rotate_anticlock {
    transition: all 0.2s ease;
}

@media (max-width: 575px) {
    .header_optn {
        width: 100%;
        text-align: center;
    }
    .header_links {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .heading {
        text-align: center;
        font-size: 1.65rem;
    }
}